.custom-navbar {
    background: linear-gradient(
        rgba(148, 157, 173, 0.85),
        rgba(98, 139, 171, 0.85)
      ),
      url("./image 5.png");
    background-size: cover;
    background-position: center;
    border: none;
    position: sticky;
    top: 0;
    z-index: 1030;
    transition: box-shadow 0.3s ease;
  }
  
  /* Sombra que aparece quando scrollar */
  .custom-navbar.scrolled {
    box-shadow: 0 4px 10px rgba(0, 29, 248, 0.4);
  }
  